[submodule "lv_drivers"]
	path = components/lv_drivers
	url = git@github.com:lvgl/lv_drivers.git
[submodule "lvgl"]
	path = components/lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "components/lv_drivers"]
	path = components/lv_drivers
	url = git@github.com:lvgl/lv_drivers.git
